:root {
    --gray:rgb(71, 70, 70);
    --white:rgb(250, 248, 248);
    --dark:rgba(0,0,0,0.8);
    --lightgray:#ada7a7;
}
*{
margin:1.5rem 0;
padding:0;
background:var(--gray);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#page-wrapper {
height:100%;

}
.input-container {
    border:3px solid var(--white);
    padding: none;
    margin: none;
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 1fr;
}
#closehelp {
  color:var(--dark);
  position:absolute;
  top:0px;
  right:4px;
  cursor: pointer;
}
#closehelp:hover {
    background-color: var(--white);

}
#helpbtn {
 cursor: pointer;
 color:var(--white);
 font-size:15px;
 position:absolute;
 top:0;
 left:10px;
 font-weight:bolder;
 font-family:monospace;
 
}
#helpbtn:hover {
  color: var(--lightgray);
}
#help {
 position:absolute;
 top:0px;
 bottom:0px;
 left:0px;
 
}
#helpcontent {
 position:absolute;
 top:164px;
 width:170px;
 left:160px;
 border:2px solid var(--white);
 padding:0px 3px 3px 3px;
 display:none;
 height:auto;
}
#helpbody {
 color:var(--white);
 font-weight:bold;
 font-family:monospace;
 line-height:20px;
 font-size:11px;
}
#helphead {
color:var(--white);
font-weight:bolder;
font-size:15px;
text-align:center;
padding: none;
margin: none;
}
#helpfooter {
color: var(--lightgray);
font-weight:light;
padding-top:5px;
font-size:9px;
}
#createbtn:hover {
background-color:var(--white);
color:var(--gray) ;
outline: none;
}
#createbtn {
padding:11px;
height: 90px;
font-weight:800;
cursor: pointer;
background:none;
letter-spacing:5px ;
font-size:20px;
text-align:center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin:0;
border-left: 3px solid var(--white);
border-right: none;
border-bottom: none;
border-top: none;
color:var(--white);

}
#demo {
padding:23px 0px 25px 25px;
color:var(--white);
font-size:30px;
width:auto;
background:none;
margin:0px;
border: none;
outline: none;
}
#copybtn {
  padding: 20px;
  color: var(--white);
  font-weight: 800;
  cursor:pointer;
  font-size: 1.5rem;
}
#copybtn:hover {
  background-color:var(--white);
color:var(--gray) ;
outline: none;
}
.info {
  color: var(--lightgray);
  border-left: 3px solid var(--white);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  pointer-events: none;

}

